-- ==========================================
-- DATOS INICIALES DEL SISTEMA - VERSIÓN 2.0
-- Tech Home Bolivia - Sistema de Componentes, Ventas y Seguridad
-- ==========================================

-- Insertar roles del sistema
INSERT INTO roles (nombre, descripcion) VALUES 
('Administrador', 'Acceso completo al sistema'),
('Docente', 'Puede crear y gestionar cursos'),
('Estudiante', 'Puede acceder a cursos y materiales'),
('Invitado', 'Acceso temporal de 3 días a todo el material'),
('Vendedor', 'Puede gestionar ventas de productos');

-- ==========================================
-- PERMISOS DEL SISTEMA
-- ==========================================

-- Insertar permisos

-- ==========================================
-- ASIGNACIÓN DE PERMISOS A ROLES
-- ==========================================

-- Rol Administrador (todos los permisos)
INSERT INTO role_has_permissions (role_id, permission_id) 
SELECT 1, id FROM permissions;

-- Rol Docente

-- Rol Estudiante

-- Rol Invitado (acceso temporal limitado)

-- Rol Vendedor

-- Insertar categorías del sistema

-- Insertar usuarios del sistema
-- Contraseña para todos: TechHome2025

-- ==========================================
-- ASIGNACIÓN DE ROLES A USUARIOS
-- ==========================================

-- Asignar roles a usuarios usando model_has_roles
INSERT INTO model_has_roles (role_id, model_type, model_id) VALUES 
(1, 'App\\Models\\User', 1), -- Admin -> Administrador
(2, 'App\\Models\\User', 2), -- María -> Docente
(2, 'App\\Models\\User', 3), -- Carlos -> Docente  
(3, 'App\\Models\\User', 4), -- Ana -> Estudiante
(3, 'App\\Models\\User', 5), -- Luis -> Estudiante
(4, 'App\\Models\\User', 6), -- Demo -> Invitado
(5, 'App\\Models\\User', 7), -- Pedro -> Vendedor
(3, 'App\\Models\\User', 8); -- Laura -> Estudiante

-- Insertar cursos de ejemplo (SIN MATERIALES)

-- Insertar libros CON STOCK

-- Insertar componentes electrónicos

-- Insertar ventas de ejemplo
INSERT INTO ventas (numero_venta, cliente_id, vendedor_id, subtotal, descuento, impuestos, total, tipo_pago, estado) VALUES 
('VTA-2025-001', 4, 7, 180.00, 0.00, 23.40, 203.40, 'Efectivo', 'Completada'),
('VTA-2025-002', 5, 7, 85.00, 8.50, 9.95, 86.45, 'Transferencia', 'Completada'),
('VTA-2025-003', 8, 7, 350.00, 35.00, 40.95, 355.95, 'Tarjeta', 'Completada'),
('VTA-2025-004', 4, 7, 270.00, 0.00, 35.10, 305.10, 'QR', 'Completada');

-- Insertar detalles de ventas

-- Insertar progreso de estudiantes
INSERT INTO progreso_estudiantes (estudiante_id, curso_id, progreso_porcentaje, tiempo_estudiado, completado) VALUES 
(4, 1, 75.50, 480, 0), -- Ana en Robótica - 8 horas estudiadas
(4, 2, 100.00, 1200, 1), -- Ana completó Python - 20 horas
(5, 1, 45.30, 300, 0), -- Luis en Robótica - 5 horas
(5, 4, 68.90, 750, 0), -- Luis en Electrónica - 12.5 horas
(8, 2, 23.80, 180, 0); -- Laura en Python - 3 horas

-- Insertar descargas de libros
INSERT INTO descargas_libros (usuario_id, libro_id, ip_address) VALUES 
(4, 2, '192.168.1.1'),
(5, 2, '192.168.1.2'),
(5, 5, '192.168.1.2'),
(4, 5, '192.168.1.1'),
(6, 2, '192.168.1.3'), -- Descarga del usuario invitado
(8, 1, '192.168.1.4');

-- Insertar configuraciones del sistema

-- Insertar acceso de invitado de ejemplo
INSERT INTO acceso_invitados (usuario_id, fecha_inicio, fecha_vencimiento, dias_restantes) VALUES 
(6, CURRENT_DATE, DATE_ADD(CURRENT_DATE, INTERVAL 3 DAY), 3);

-- ==========================================
-- FIN DE DATOS INICIALES
-- ==========================================