-- ==========================================
-- TECH HOME - BASE DE DATOS MYSQL
-- Instituto: Tech Home Bolivia – Escuela de Robótica y Tecnología Avanzada
-- Script SQL Completo y Funcional
-- ==========================================

-- Crear base de datos
CREATE DATABASE IF NOT EXISTS tech_home 
CHARACTER SET utf8mb4 
COLLATE utf8mb4_unicode_ci;

USE tech_home;

-- ==========================================
-- TABLA: roles
-- Gestiona los diferentes tipos de usuario
-- ==========================================
CREATE TABLE roles (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(50) NOT NULL UNIQUE,
    descripcion TEXT,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: usuarios
-- Almacena todos los usuarios del sistema
-- ==========================================
CREATE TABLE usuarios (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(100) NOT NULL,
    apellido VARCHAR(100) NOT NULL,
    email VARCHAR(150) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    rol_id INT NOT NULL,
    telefono VARCHAR(20) NULL,
    fecha_nacimiento DATE NULL,
    avatar VARCHAR(255) NULL,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (rol_id) REFERENCES roles(id),
    INDEX idx_email (email),
    INDEX idx_rol (rol_id),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: categorias
-- Categorías para organizar cursos y libros
-- ==========================================
CREATE TABLE categorias (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    color VARCHAR(7) DEFAULT '#007bff', -- Color hexadecimal para UI
    icono VARCHAR(50) DEFAULT 'fas fa-book',
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: cursos
-- Información principal de los cursos
-- ==========================================
CREATE TABLE cursos (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    descripcion TEXT NOT NULL,
    contenido LONGTEXT, -- Contenido del curso en HTML
    docente_id INT NOT NULL,
    categoria_id INT NOT NULL,
    imagen_portada VARCHAR(255) NULL,
    precio DECIMAL(10,2) DEFAULT 0.00,
    duracion_horas INT DEFAULT 0,
    nivel ENUM('Principiante', 'Intermedio', 'Avanzado') DEFAULT 'Principiante',
    requisitos TEXT NULL,
    objetivos TEXT NULL,
    estado ENUM('Borrador', 'Publicado', 'Archivado') DEFAULT 'Borrador',
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (docente_id) REFERENCES usuarios(id),
    FOREIGN KEY (categoria_id) REFERENCES categorias(id),
    INDEX idx_docente (docente_id),
    INDEX idx_categoria (categoria_id),
    INDEX idx_estado (estado),
    INDEX idx_nivel (nivel)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: materiales
-- Archivos educativos de los cursos
-- ==========================================
CREATE TABLE materiales (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    descripcion TEXT,
    curso_id INT NOT NULL,
    tipo_archivo ENUM('PDF', 'Video', 'Imagen', 'Documento', 'Audio') NOT NULL,
    nombre_archivo VARCHAR(255) NOT NULL,
    ruta_archivo VARCHAR(500) NOT NULL,
    tamaño_archivo INT NOT NULL, -- Tamaño en bytes
    orden INT DEFAULT 1, -- Orden dentro del curso
    es_gratuito TINYINT(1) DEFAULT 0,
    descargas INT DEFAULT 0,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (curso_id) REFERENCES cursos(id) ON DELETE CASCADE,
    INDEX idx_curso (curso_id),
    INDEX idx_tipo (tipo_archivo),
    INDEX idx_orden (orden),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: libros
-- Biblioteca digital del instituto
-- ==========================================
CREATE TABLE libros (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    autor VARCHAR(150) NOT NULL,
    descripcion TEXT,
    categoria_id INT NOT NULL,
    isbn VARCHAR(20) NULL,
    paginas INT DEFAULT 0,
    editorial VARCHAR(100) NULL,
    año_publicacion YEAR NULL,
    imagen_portada VARCHAR(255) NULL,
    archivo_pdf VARCHAR(500) NOT NULL,
    tamaño_archivo INT NOT NULL, -- Tamaño en bytes
    descargas INT DEFAULT 0,
    es_gratuito TINYINT(1) DEFAULT 1,
    precio DECIMAL(10,2) DEFAULT 0.00,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (categoria_id) REFERENCES categorias(id),
    INDEX idx_categoria (categoria_id),
    INDEX idx_autor (autor),
    INDEX idx_isbn (isbn),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: inscripciones
-- Relación entre estudiantes y cursos
-- ==========================================
CREATE TABLE inscripciones (
    id INT PRIMARY KEY AUTO_INCREMENT,
    estudiante_id INT NOT NULL,
    curso_id INT NOT NULL,
    fecha_inscripcion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    progreso INT DEFAULT 0, -- Porcentaje 0-100
    completado TINYINT(1) DEFAULT 0,
    calificacion DECIMAL(3,2) NULL, -- 0.00 a 10.00
    fecha_inicio DATE NULL,
    fecha_finalizacion DATE NULL,
    estado ENUM('Activo', 'Pausado', 'Completado', 'Cancelado') DEFAULT 'Activo',
    
    FOREIGN KEY (estudiante_id) REFERENCES usuarios(id),
    FOREIGN KEY (curso_id) REFERENCES cursos(id),
    UNIQUE KEY unique_inscripcion (estudiante_id, curso_id),
    INDEX idx_estudiante (estudiante_id),
    INDEX idx_curso (curso_id),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: progreso_materiales
-- Seguimiento del progreso en materiales específicos
-- ==========================================
CREATE TABLE progreso_materiales (
    id INT PRIMARY KEY AUTO_INCREMENT,
    inscripcion_id INT NOT NULL,
    material_id INT NOT NULL,
    completado TINYINT(1) DEFAULT 0,
    tiempo_visto INT DEFAULT 0, -- Segundos para videos
    fecha_completado TIMESTAMP NULL,
    fecha_acceso TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (inscripcion_id) REFERENCES inscripciones(id) ON DELETE CASCADE,
    FOREIGN KEY (material_id) REFERENCES materiales(id) ON DELETE CASCADE,
    UNIQUE KEY unique_progreso (inscripcion_id, material_id),
    INDEX idx_inscripcion (inscripcion_id),
    INDEX idx_material (material_id)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: descargas
-- Registro de descargas de materiales y libros
-- ==========================================
CREATE TABLE descargas (
    id INT PRIMARY KEY AUTO_INCREMENT,
    usuario_id INT NOT NULL,
    tipo_contenido ENUM('Material', 'Libro') NOT NULL,
    contenido_id INT NOT NULL, -- ID del material o libro
    ip_address VARCHAR(45) NOT NULL,
    user_agent TEXT NULL,
    fecha_descarga TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (usuario_id) REFERENCES usuarios(id),
    INDEX idx_usuario (usuario_id),
    INDEX idx_tipo (tipo_contenido),
    INDEX idx_fecha (fecha_descarga)
) ENGINE=InnoDB;

-- ==========================================
-- TABLA: configuraciones
-- Configuraciones generales del sistema
-- ==========================================
CREATE TABLE configuraciones (
    id INT PRIMARY KEY AUTO_INCREMENT,
    clave VARCHAR(100) NOT NULL UNIQUE,
    valor TEXT NOT NULL,
    descripcion TEXT NULL,
    tipo ENUM('texto', 'numero', 'booleano', 'json') DEFAULT 'texto',
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB;


-- ==========================================
-- VISTAS ÚTILES PARA CONSULTAS FRECUENTES
-- ==========================================

-- Vista: Información completa de usuarios
CREATE VIEW vista_usuarios AS
SELECT 
    u.id,
    u.nombre,
    u.apellido,
    CONCAT(u.nombre, ' ', u.apellido) as nombre_completo,
    u.email,
    u.telefono,
    u.avatar,
    u.estado,
    r.nombre as rol,
    u.fecha_creacion
FROM usuarios u
INNER JOIN roles r ON u.rol_id = r.id;

-- Vista: Cursos con información del docente y categoría
CREATE VIEW vista_cursos AS
SELECT 
    c.id,
    c.titulo,
    c.descripcion,
    c.imagen_portada,
    c.precio,
    c.duracion_horas,
    c.nivel,
    c.estado,
    CONCAT(u.nombre, ' ', u.apellido) as docente,
    cat.nombre as categoria,
    cat.color as color_categoria,
    c.fecha_creacion,
    (SELECT COUNT(*) FROM inscripciones i WHERE i.curso_id = c.id) as total_estudiantes
FROM cursos c
INNER JOIN usuarios u ON c.docente_id = u.id
INNER JOIN categorias cat ON c.categoria_id = cat.id;

-- Vista: Progreso de estudiantes
CREATE VIEW vista_progreso_estudiantes AS
SELECT 
    i.id as inscripcion_id,
    CONCAT(u.nombre, ' ', u.apellido) as estudiante,
    c.titulo as curso,
    i.progreso,
    i.completado,
    i.calificacion,
    i.estado,
    i.fecha_inscripcion,
    i.fecha_finalizacion
FROM inscripciones i
INNER JOIN usuarios u ON i.estudiante_id = u.id
INNER JOIN cursos c ON i.curso_id = c.id;

-- ==========================================
-- ÍNDICES ADICIONALES PARA OPTIMIZACIÓN
-- ==========================================

-- Índices para mejorar rendimiento en consultas frecuentes
CREATE INDEX idx_cursos_publicados ON cursos(estado, fecha_creacion DESC);
CREATE INDEX idx_inscripciones_activas ON inscripciones(estado, fecha_inscripcion DESC);
CREATE INDEX idx_materiales_curso_orden ON materiales(curso_id, orden);
CREATE INDEX idx_descargas_fecha ON descargas(fecha_descarga DESC);