-- ==========================================
-- TECH HOME - BASE DE DATOS MYSQL 
-- Instituto: Tech Home Bolivia – Escuela de Robótica y Tecnología Avanzada
-- ==========================================

-- Crear base de datos
CREATE DATABASE IF NOT EXISTS tech_home 
CHARACTER SET utf8mb4 
COLLATE utf8mb4_unicode_ci;

USE tech_home;

-- ==========================================
-- TABLAS PRINCIPALES DEL SISTEMA
-- ==========================================

-- TABLA: roles
-- Almacena los diferentes roles de usuarios en el sistema
CREATE TABLE roles (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(50) NOT NULL UNIQUE,
    descripcion TEXT,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- TABLA: usuarios
-- Contiene la información de todos los usuarios del sistema
CREATE TABLE usuarios (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(100) NOT NULL,
    apellido VARCHAR(100) NOT NULL,
    email VARCHAR(150) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    rol_id INT NOT NULL,
    telefono VARCHAR(20) NULL,
    fecha_nacimiento DATE NULL,
    avatar VARCHAR(255) NULL,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (rol_id) REFERENCES roles(id),
    INDEX idx_email (email),
    INDEX idx_rol (rol_id),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- TABLA: categorias
-- Categorías para organizar cursos, materiales y libros
CREATE TABLE categorias (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(100) NOT NULL,
    descripcion TEXT,
    color VARCHAR(7) DEFAULT '#007bff',
    icono VARCHAR(50) DEFAULT 'fas fa-book',
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- TABLA: cursos
-- Contiene todos los cursos ofrecidos por el instituto
CREATE TABLE cursos (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    descripcion TEXT NOT NULL,
    contenido LONGTEXT,
    docente_id INT NOT NULL,
    categoria_id INT NOT NULL,
    imagen_portada VARCHAR(255) NULL,
    precio DECIMAL(10,2) DEFAULT 0.00,
    duracion_horas INT DEFAULT 0,
    nivel ENUM('Principiante', 'Intermedio', 'Avanzado') DEFAULT 'Principiante',
    requisitos TEXT NULL,
    objetivos TEXT NULL,
    estado ENUM('Borrador', 'Publicado', 'Archivado') DEFAULT 'Borrador',
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    
    FOREIGN KEY (docente_id) REFERENCES usuarios(id),
    FOREIGN KEY (categoria_id) REFERENCES categorias(id),
    INDEX idx_docente (docente_id),
    INDEX idx_categoria (categoria_id),
    INDEX idx_estado (estado),
    INDEX idx_nivel (nivel)
) ENGINE=InnoDB;

-- TABLA: materiales
-- Materiales complementarios asociados a cursos
CREATE TABLE materiales (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    descripcion TEXT,
    curso_id INT NOT NULL,
    tipo_archivo ENUM('PDF', 'Video', 'Imagen', 'Documento', 'Audio') NOT NULL,
    nombre_archivo VARCHAR(255) NOT NULL,
    ruta_archivo VARCHAR(500) NOT NULL,
    tamaño_archivo INT NOT NULL,
    orden INT DEFAULT 1,
    es_gratuito TINYINT(1) DEFAULT 0,
    descargas INT DEFAULT 0,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (curso_id) REFERENCES cursos(id) ON DELETE CASCADE,
    INDEX idx_curso (curso_id),
    INDEX idx_tipo (tipo_archivo),
    INDEX idx_orden (orden),
    INDEX idx_estado (estado)
) ENGINE=InnoDB;

-- TABLA: libros
-- Libros y recursos bibliográficos independientes
CREATE TABLE libros (
    id INT PRIMARY KEY AUTO_INCREMENT,
    titulo VARCHAR(200) NOT NULL,
    autor VARCHAR(150) NOT NULL,
    descripcion TEXT,
    categoria_id INT NOT NULL,
    isbn VARCHAR(20) NULL,
    paginas INT DEFAULT 0,
    editorial VARCHAR(100) NULL,
    año_publicacion YEAR NULL,
    imagen_portada VARCHAR(255) NULL,
    archivo_pdf VARCHAR(500) NULL, -- Puede ser NULL si solo es referencia
    enlace_externo VARCHAR(500) NULL, -- Enlace para compra o acceso
    tamaño_archivo INT DEFAULT 0,
    descargas INT DEFAULT 0,
    es_gratuito TINYINT(1) DEFAULT 1,
    precio DECIMAL(10,2) DEFAULT 0.00,
    estado TINYINT(1) DEFAULT 1,
    fecha_creacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (categoria_id) REFERENCES categorias(id),
    INDEX idx_categoria (categoria_id),
    INDEX idx_autor (autor),
    INDEX idx_isbn (isbn),
    INDEX idx_estado (estado),
    INDEX idx_gratuito (es_gratuito)
) ENGINE=InnoDB;

-- TABLA: descargas_libros
-- Registro de descargas de libros por usuarios
CREATE TABLE descargas_libros (
    id INT PRIMARY KEY AUTO_INCREMENT,
    usuario_id INT NOT NULL,
    libro_id INT NOT NULL,
    ip_address VARCHAR(45) NOT NULL,
    user_agent TEXT NULL,
    fecha_descarga TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    
    FOREIGN KEY (usuario_id) REFERENCES usuarios(id),
    FOREIGN KEY (libro_id) REFERENCES libros(id),
    INDEX idx_usuario (usuario_id),
    INDEX idx_libro (libro_id),
    INDEX idx_fecha (fecha_descarga)
) ENGINE=InnoDB;

-- TABLA: configuraciones
-- Configuraciones generales del sistema
CREATE TABLE configuraciones (
    id INT PRIMARY KEY AUTO_INCREMENT,
    clave VARCHAR(100) NOT NULL UNIQUE,
    valor TEXT NOT NULL,
    descripcion TEXT NULL,
    tipo ENUM('texto', 'numero', 'booleano', 'json') DEFAULT 'texto',
    fecha_actualizacion TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB;

-- ==========================================
-- VISTAS ÚTILES
-- ==========================================

-- Vista: Información completa de usuarios
CREATE VIEW vista_usuarios AS
SELECT 
    u.id,
    u.nombre,
    u.apellido,
    CONCAT(u.nombre, ' ', u.apellido) as nombre_completo,
    u.email,
    u.telefono,
    u.avatar,
    u.estado,
    r.nombre as rol,
    u.fecha_creacion
FROM usuarios u
INNER JOIN roles r ON u.rol_id = r.id;

-- Vista: Cursos con información completa
CREATE VIEW vista_cursos AS
SELECT 
    c.id,
    c.titulo,
    c.descripcion,
    c.imagen_portada,
    c.precio,
    c.duracion_horas,
    c.nivel,
    c.estado,
    CONCAT(u.nombre, ' ', u.apellido) AS docente,
    cat.nombre AS categoria,
    cat.color AS color_categoria,
    c.fecha_creacion
FROM cursos c
INNER JOIN usuarios u ON c.docente_id = u.id
INNER JOIN categorias cat ON c.categoria_id = cat.id;
CREATE INDEX idx_cursos_categoria ON cursos(categoria_id, estado);

-- Índices para materiales
CREATE INDEX idx_materiales_curso ON materiales(curso_id, estado);
CREATE INDEX idx_materiales_tipo ON materiales(tipo_archivo, estado);

-- Índices para libros
CREATE INDEX idx_libros_autor ON libros(autor);
CREATE INDEX idx_libros_categoria ON libros(categoria_id, estado);
CREATE INDEX idx_libros_publicacion ON libros(año_publicacion DESC);

-- ==========================================
-- FIN DEL SCRIPT SQL
-- ==========================================